extends layout.pug
block append style
  link(rel="stylesheet", href="/style/country.css")
block content
  h1#country #{name}
  - const provTitle = name === "United States" ? "State" : "Province"
  h3#hover Hover or Tap On #{provTitle} For Status 
  div.map
  div.btn-container
    if provinces.length > 0
      div
        a.btn(href=`/country/${code}/province-table` id="prov-table-link") #{provTitle} Table  
          i(class="fas fa-external-link-alt")
      div
        a.btn(href="#" id="county-search") Search Counties 
      div
        a.show-country.btn(href="#") Show Country Stats
  h2#stats-head Covid-19 Status: 
    span#region #{name}
  if provinces.length > 0
    form(autocomplete="off")
      - const hint = name === "United States" ? "Search for State" : "Search for Province"
      div#search-block
        i(class="fas fa-search-location")
        div.autocomplete
          input(id="search" list="provinces" name="province-search" placeholder= hint)
          ul.auto-suggestions
  div.stats-container
    div.stats
      h2 Total Cases: 
        br
        span#tot-cases #{numWithCommas(totCases)}
    div.stats
      h2 Total Deaths: 
        br
        span#tot-deaths #{numWithCommas(totDeaths)}
    div.stats
      h2 Total Recovered: 
        br
        span#tot-recovered #{numWithCommas(totRecovered)}
  // h3.percent % of Pop Infected: 
  //   span= `%${((totCases/population)*100).toFixed(5)}`
  p.ref Data retrieved from John Hopkins CCGIS Data Set: 
    a(href="https://github.com/CSSEGISandData/COVID-19" target="_blank") Data Source
    br
block append scripts
  script(src="/scripts/country.js")
