doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    - const description = `${name} coronavirus (Covid-19) total cases, recoveries, and deaths`
    meta(name="description" content= description)
    - const keywords = `${code} coronavirus global map search world covid-19 cases deaths recoveries ${name} country territories states provinces`
    meta(name="keywords" content= keywords)
    link(rel="icon" href="/svg/icons/globe-icon.svg")
    block style
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css")
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css")
      link(href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet")
      link(href="https://fonts.googleapis.com/css?family=Fira+Sans:500&display=swap" rel="stylesheet")
    -
      function numWithCommas(num) {
        return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
      }
    title #{title}
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-161223976-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-161223976-1');
    block initscripts
  body
    img#loading-icon(src="/svg/icons/loading/pin-loading-icon3.svg" alt="Loading...")
    div#root
      block content 
      div#msg-to-user
        div Stay
        img(src="/svg/icons/home2.svg" class="icon" alt="Home Icon")
        div and Wash Your
        img(src="/svg/icons/wash-hands.svg" class="icon" alt="Wash Hands Icon")
        div Be Safe!
    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
      script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
      script(src="/scripts/shared.js")
      script(src="/scripts/loading.js")
