extends layout.pug
block append style
    link(rel="stylesheet", href="/style/country.css")
block content
  h1#country #{name}
  - const provTitle = name === "United States" ? "State" : "Province"
  - const hint = name === "United States" ? "Search for State" : "Search for Province"
  if provinces.length > 0
    form(autocomplete="off")
      div#search-block
        i(class="fas fa-search-location")
        div.autocomplete
          input(id="search" list="provinces" placeholder= hint type="text" autcomplete="off")
          ul.auto-suggestions
    if provinces.length > 0
    table#provinces
      tr.odd-row
        th= provTitle
        th Total Confirmed Cases
        th Total Deaths
        th Total Recoveries
      - let i = 0;
      each province in provinces
        -
          i++
          let odd = (i % 2) === 0 ? "odd-row" : null
        tr(class=odd)
          td= province.name
          td #{numWithCommas(province.totCases)}
          td #{numWithCommas(province.totDeaths)}
          td #{numWithCommas(province.totRecovered)}
block append scripts
  script(src="/scripts/province-table.js")
